footer{
    background-color: $primary;
    @include flex-col;
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
    
    #footer{
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
        justify-content: space-between;

        @include mobile{
            width: 90%;
            @include flex-col;
            align-items: flex-start;
        }

        .socials{
            @include flex-row;
            justify-content: flex-start;
            flex-wrap: wrap;

            h4{
                font-size: 1.4rem;
                cursor: pointer;

                &:hover{
                    color: $primary;
                }
            }
        }

        h3{
            text-decoration: underline;
            text-underline-offset: 0.5rem;
            margin-bottom: 0.5rem;
        }

    }
}