header{
    background-image: url('/header5.jpg');
    height: 95vh;
    background-position: center;
    background-size: cover;
    background-blend-mode:darken;
    @include flex-col;



    div{
        text-align: center;
        line-height: 2;

        h1{
            font-size: 3.5rem;
            color: $primary;
        }

        h2{
            color: $dark;
        }

        button{
            margin-top: 2rem;
            padding: 1rem 2rem;
            @include flex-row;
            justify-content: space-between;
        }
    }
}